<h1 align="center">Regístrate a ALPHA-BLOG</h1>
<!-- render llama a el archivo indicado, aqui lo usamos para reutilizar codigo -->
<%= render 'form', :parametros => {:parametro1 => 'new', :objeto => 'de la cuenta' }  %>