<!DOCTYPE html>
<html>

<body>

<!-- un espacio para resaltar informacion -->
<div class=" center jumbotron">
  <h1>ALPHA BLOG</h1>
 <%= link_to "Registrate aqui", signup_path, class: "btn btn-danger btn-lg btn-xlarge", id: "prueba" %>
</div>

</body>
</html>