<div class= "container">
  <footer class = "footer">
    <small>
      Elaborado por <a href='mailto:cesarprins@gmail.com'>Cesar Prins</a>
    </small>
    <nav>
      <ul>
        <li> <%= link_to "Nosotros", about_path %> </li>
      </ul>
    </nav>
  </footer>
</div>